body {
    font-family: 'Serif', serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #e3f9ff;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}



.logo {
    width: 25vw;

    font-weight: bold;
    letter-spacing: 1px;
}

.logo img {
    max-width: 10vw;
    height: auto;
    transition: 0.9s ease-in-out;
}

.logo img:hover {
    transform: scale(1.15);
    transition: 0.9s ease-in-out;

}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {

    display: inline;
    position: relative;
    padding: 12px;
    transition: all 1s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    color: #888;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    transition: all 2s ease-in-out;
}

nav ul li a.active {
    text-shadow: 2.5px 2.5px 2.5px rgba(210, 210, 210, 0.5);
    color: black;
    transition: all 2s ease-in-out;
}

nav ul li a:hover {
    transition: all 0.5s ease-in-out;
    border-radius: 3px;
    color: rgb(0, 0, 0);

}

nav ul li:hover {
    transform: scale(1.05);
    transition: all 1s ease-in-out;
    background: linear-gradient(to right, #ecf7ff 20%, rgba(0, 0, 0, 0) 100%), url('./styles/hero-bg.avif');
    background-size: cover;
    background-position: center;
    box-shadow: 2.5px 3px #646a88;
    border-radius: 4px;
    z-index: 10;
}

.submenu {
    position: relative;
    display: block;

}



.sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 15px;
    display: none;
    /* Hide submenu by default */
    min-width: 250px;
}

nav ul .submenu:hover .sub-menu {
    display: flex;
    /* Show submenu on hover */
}

.submenu li{
    min-width: fit-content;
}

.submenu li a{
    font-size: 18px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    text-decoration: none;
    transition: all 1s ease;
    color: rgb(244, 239, 239);
    font-size: 40px;
    text-shadow: 2.5px 2.5px 2.5px rgb(0, 0, 0, 0.5);

}


.social-icons a:hover {
    transition: all 0.8s ease;
    transform: scale(1.6);
    color: #2c4ee4;

}

.social-icons a:last-child:hover {
    color: red;

}



main {
    max-width: 100vw;
    background: linear-gradient(to right, #ecf7ff 60%, rgba(0, 0, 0, 0) 120%), url('./styles/hero-bg.avif');
    background-size: cover;
    background-position: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;

}

.hero .text {
    max-width: 40%;
    text-align: justify;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #666;
}

.text p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.text .title-p {
    font-size: 2vw;

}

.hero .button {
    padding: 12px 24px;
    font-weight: 900s;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid rgb(77, 65, 65);
    box-shadow: 4.5px 5px #646a88;
    background: transparent;
    color: #ffffff;
    background-color: #ae9772;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hero .button:hover {
    background: #ea8a8a;

    color: #fff;
}

.hero-image img {
    max-width: 400px;
    opacity: 0.9;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transform: translateX(-40%);
}

.intro {
    min-height: 100vh;
    display: block;
    text-align: center;

}

#inspiration {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to bottom, #ecf7ff 3%, rgba(0, 0, 0, 0) 100%), url('./intro-bg.jpg') no-repeat center center/cover;
    padding: 80px 20px;
    color: #fff;
}

/* Overlay for text readability */
#inspiration .overlay {

    background: rgba(0, 0, 0, 0.3);
    /* Adjust transparency as needed */
    box-shadow: 8px 8px 8px rgba(61, 61, 61, 1);
    padding: 40px;
    border-radius: 8px;
    max-width: 70vw;
    margin: 20px auto;
    text-align: center;
}

/* Headings and paragraph styling */
#inspiration h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

#inspiration p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.discover-button {
    margin-top: 50px;
    cursor: pointer;

}

.discover-button a {
    text-decoration: none;
    box-shadow: 8px 8px 8px rgba(61, 61, 61, 1);
    font-size: 1.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #422f2f;
    letter-spacing: 3px;

    border-radius: 6px;
    background-color: rgba(61, 61, 61, 0.1);
    max-width: 400px;
    padding: 20px 25px;
    transition: all 1s ease-in-out;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.discover-button a:hover {
    transition: all 0.8s ease-in-out;
    background-color: #462500;
    color: rgb(243, 228, 201);
    box-shadow: 4.5px 5px #000000;

}

.butterfly {
    position: absolute;
    width: 40px;
    opacity: 0;
}

@keyframes fly {
    0% {
        transform: translateX(-50%) translateY(0) rotate(0deg);
        opacity: 1;
    }

    25% {
        transform: translateX(-30%) translateY(-30px) rotate(15deg);
    }

    50% {
        transform: translateX(-50%) translateY(-60px) rotate(-15deg);
    }

    75% {
        transform: translateX(-70%) translateY(-90px) rotate(10deg);
    }

    100% {
        transform: translateX(-50%) translateY(-120px) rotate(0deg);
        opacity: 0;
    }
}

.books {
    max-width: 100vw;
    text-align: center;
    padding: 150px 10%;
    font-family: "Playfair Display", serif;
    /* Adjust to match the reference font */
    border-bottom: 2px #2c2b2b;
}

.books-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.books-header h2 {
    font-size: 3rem;
    color: #464343;
    margin-bottom: 15px;
}




.book-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book {
    width: 300px;
    height: 450px;
    perspective: 1000px;
}

.book h3 {
    margin-top: 30px;
    border: 1px solid #000;
    background-color: #e8efe5;
    border-radius: 5px;
    box-shadow: 4.5px 5px #747f8b;
    padding: 15px;
    cursor: pointer;

}

.book h3:hover {
    transition: 0.9s ease-in-out;
    background-color: #462500;
    color: #ffeded;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    box-shadow: 4.5px 5px #194b4b;
}

.book-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in;
}

.book:hover .book-inner {
    transform: rotateY(180deg);
}

.book-front,
.book-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.book-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.book-back {
    background: #fff;
    transform: rotateY(180deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-back img {
    width: 100%;
    height: 100%;
}

.book-back h3 {
    font-size: 1.5rem;
}


.order-your-copy {
    display: inline-block;
    margin-top: 120px;
    overflow: hidden;

}

.order-your-copy a {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    position: relative;
    transition: color 0.3s ease;
}

.order-your-copy a .text {
    transition: opacity 0.8s ease;
}

.order-your-copy a .arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.9s ease;
}

.order-your-copy a:hover .text {
    opacity: 0;
    /* Hide text when hovered */
}

.order-your-copy a:hover {

    background-color: #fc9898;
    border-radius: 10px;

}

.order-your-copy a:hover .arrow {
    font-size: 24px;
    transform: translateX(80px);
    /* Move arrow smoothly to the right */
}







.order-link:hover {
    text-decoration: underline;
}


.welcome-section {
    text-align: center;
    padding: 60px 10%;
    background: #ecfeff;
    color: #b29564;
}

.welcome-section h2 {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
}

.welcome-section p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #666;
    max-width: 100vw;
    padding: 10px 0;
}

.awards {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 30px;
}

.award {
    text-align: center;
}

.award img {
    width: 380px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    transition: 2s ease-out, transform 0.6s ease-out;
}

.award img:hover {
    transform: scale(1.1);
}

.author-story {
    display: flex;
    align-items: center;
    padding: 100px 10% 0 0;
    background: #f5f5f5;
}

.author-story img {
    width: 45%;
    height: 20%;
    margin-right: 90px;
}

.author-story .text {
    max-width: 50%;
}

.author-story h2 {
    font-size: 24px;
    font-weight: bold;
    color: #b29564
}

.author-story p {
    font-size: 18px;
    color: #666;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #b29564;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stats::before,
.stats::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #b29564;
}

.stats::before {
    top: 0;
}

.stats::after {
    bottom: 0;
}

.stats div {
    position: relative;
}

.stats div::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 2px;
    height: 90%;
    background: #b29564;
    transform: translateY(-50%);
}

.stats div:first-child::before {
    display: none;
}

.stats span {
    display: block;
    font-size: 50px;
}




.middle {
    position: relative;


}

.btn {
    position: relative;
    display: block;
    color: rgb(114, 110, 110);
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    text-align: center;
    width: 130px;
    border-bottom: 2px solid #ae9772;
    padding: 15px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before {

    background: #ae9772;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn2::before {
    width: 100%;

    height: 0%;
}

.btn2:hover::before {
    height: 100%;
}

.btn:hover {
    color: #000;
}

.view-all {
    font-size: 1.2rem;
    color: #464343;
    width: 230px;
    text-decoration: none;
    border-bottom: none;
    font-weight: bold;
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.view-all-books a {
    display: none;
}

.newsletter-section {

    padding: 100px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100vw;
}

.newsletter-section h2 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.newsletter-section input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter-section button {
    padding: 10px;
    margin-top: 10px;
    background-color: #00296b;
    border: 1px solid #797575;
    box-shadow: 2.5px 4px #888888;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.8s ease;
    text-decoration: none;
    color: #ffffff;
}

.newsletter-section button:hover {
    color: #fff;
    transition: all 1s ease;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    background-color: #ee0000;
}

.footer{
    top: 100%;
    bottom: 0;
}


footer .nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    list-style: none;

}

footer li a {
    text-decoration: none;
    color: #666;

}

.footer-header {

    display: flex;
    max-width: 100%;
    background: #d4e0f5;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    color: #d6d4d4;
}


.footer-header nav {
    display: flex;
    gap: 20%;
    align-items: center;
}

.footer-header a {
    font-size: 2vw;
}

.footer-header-text:hover {
    transform: scale(1, 1);
    box-shadow: none;
    background-image: none;
}

footer {
    justify-content: center;
    align-items: center;
    background: #d4e0f5;
    color: rgb(64, 64, 66);
    font-family: "Poppins", sans-serif;
    max-width: 100vw;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

footer a {
    text-decoration: none;

}

.seaamos h4 {
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
}

.seaamos a {
    font-family: "Poppins", sans-serif;
    color: rgb(64, 64, 66);
    text-decoration: none;
}

.seaamos a:hover,
footer a:hover {
    color: #cc0000;
}

.auth-text-footer {
    color: #000000;
}

.auth-text-footer:hover::before {
    opacity: 0;
}